@model ForumThreadViewModel
@{ 
    ViewData["Title"] = Model.ThreadTitle;
}
<style>
    #threadlayout {
        padding-top: 20px;
    }

    .userdescription {
        height: 100%;
        border-left: 2px solid #444;
        margin: 0 auto;
        text-align: center;
    }
</style>

<!--Thread-->
<div class="container" id="threadlayout">
    <div class="row">
        <div class="col-12">
            <h2>@Model.ThreadTitle</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @Model.ThreadDateCreated
                </div>
                <div class="row card-body">
                    <div class="col-9">
                        <p>@Model.ThreadMessage</p>
                    </div>
                    <div class="col-3 userdescription">
                        <img class="img-rounded img-responsive" style="max-width: 60%;" src="~/images/ProfilePics/@Model.ThreadCreator.ProfilePicture" />
                        <dl class="row">
                            <dt class="col-sm-6">Username: </dt>
                            <dd class="col-sm-6">@Model.ThreadCreator.Username</dd>
                            <dt class="col-sm-6">Date Joined: </dt>
                            <dd class="col-sm-6">@Model.ThreadCreator.DateJoined</dd>
                        </dl>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        @Html.ActionLink("Edit", "Edit", new { threadID = Model.ThreadID })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Posts-->
@foreach (var post in Model.Posts)
{
    <div class="container" id="threadlayout">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @post.PostDateCreated
                    </div>
                    <div class="row card-body">
                        <div class="col-9">
                            <p>@post.PostMessage</p>
                        </div>
                        <div class="col-3 userdescription">
                            <img class="img-rounded img-responsive" style="max-width: 60%;" src="~/images/ProfilePics/@post.PostAccount.ProfilePicture" />
                            <dl class="row">
                                <dt class="col-sm-6">Username: </dt>
                                <dd class="col-sm-6">@post.PostAccount.Username</dd>
                                <dt class="col-sm-6">Date joined: </dt>
                                <dd class="col-sm-6">@post.PostAccount.DateJoined</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            @Html.ActionLink("Edit", "Edit", new { threadID = post.PostID })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Create post-->
<div class="container" id="threadlayout">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="CreatePost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PosterAccountID" class="control-label"></label>
                    <input asp-for="PosterAccountID" class="form-control" />
                    <span asp-validation-for="PosterAccountID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PosterMessage" class="control-label"></label>
                    <textarea asp-for="PosterMessage" class="form-control" cols="25" rows="3"></textarea>
                    <span asp-validation-for="PosterMessage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ThreadID" type="hidden" />
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
