@model ForumPostViewModel
<style>
    #threadlayout {
        padding-top: 20px;
    }

    .userdescription {
        height: 100%;
        border-left: 2px solid #444;
        margin: 0 auto;
        text-align: center;
    }
</style>

<!--Thread-->
<div class="container" id="threadlayout">
    <div class="row">
        <div class="col-12">
            <h2>@Model.ThreadTitle</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @Model.ThreadDateCreated
                </div>
                <div class="row card-body">
                    <div class="col-9">
                        <p>@Model.ThreadMessage</p>
                    </div>
                    <div class="col-3 userdescription">
                        profile picture
                        <br />
                        username
                        <br />
                        joined date
                        <br />
                        posts
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Posts-->
@foreach (var post in Model.Posts)
{
<div class="container" id="threadlayout">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @post.PostDateCreated
                </div>
                <div class="row card-body">
                    <div class="col-9">
                        <p>@post.PostMessage</p>
                    </div>
                    <div class="col-3 userdescription">
                        profile picture
                        <br />
                        username
                        <br />
                        joined date
                        <br />
                        posts
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
