@model PlanofAction.Models.ActionPlan

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ActionPlan</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ActionPlanID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ActionPlanID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AccountID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AccountID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlanTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlanTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlanMessage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlanMessage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlanCategory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlanCategory)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlanDateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlanDateCreated)
            </dd>
        </dl>

        <form method="post">
            <input type="submit" class="btn btn-danger" asp-action="DeletePost" asp-action-actionPlanID="Model.ActionPlanID" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>