@model IEnumerable<ActionPlan>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row" style="margin-left:2px;">
        <h1>Action plans</h1>
    </div>
    <div class="row" style="margin-left:2px;">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Creation date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href='@string.Format("/ActionPlans/PlanPage?actionPlanID={0}", item.ActionPlanID)'>
                                    @item.PlanTitle
                                </a>
                            </td>
                            <td>
                                @item.PlanCategory
                            </td>
                            <td>
                                @item.PlanDateCreated
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { actionPlanID = item.ActionPlanID }) |
                                @Html.ActionLink("Delete", "Delete", new { actionPlanID = item.ActionPlanID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <p>sort</p>
        </div>
    </div>
</div>